.description
  display: grid
  grid-template-columns: 48rem 1fr
  align-items: center
  &-img 
    display: block
    justify-self: end
    padding: 5.1rem 7.2rem 4.9rem 6.4rem
    border-radius: 3rem
    box-shadow: 0 1.8rem 5rem -1.5rem rgba(25, 42, 89, 0.2)
    box-sizing: content-box
  &:nth-child(2n)
    grid-template-columns: 1fr 48rem
    & .description-img 
      order: -1
      justify-self: start