.feature
  width: 38rem
  padding-top: 8.6rem
  position: relative
  @include respond(tab-land)
    width: 25rem
  @include respond(tab-port)
    width: 33.5rem
    margin-bottom: 3.5rem
    padding-top: 0
    padding-left: 8.8rem
  &::before
    content: ""
    display: block
    width: 6rem
    height: 6rem
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    background-repeat: no-repeat
    @include respond(tab-port)
      left: 0
      transform: translateX(0%)
  &:first-child
    &::before
      background-image: url(../icons/planning-icon.svg)
  &:nth-child(2)
    &::before
      background-image: url(../icons/computer-icon.svg)
  &:last-child
    &::before
      background-image: url(../icons/speed-icon.svg)
