.hero
  &-container
    display: grid
    grid-template-columns: 55rem 1fr
    column-gap: 8.1rem
  &-images-block 
    width: 40vw
    height: 80%
    position: absolute
    z-index: 50
    top: 15rem
    right: 0
    & img 
      position: absolute
      z-index: 20
      &:first-child
        right: -23%
        top: 0
      &:last-child
        top: 12.4rem
        left: -13%

