.hero
  &-container
    display: grid
    grid-template-columns: 55rem 1fr
    column-gap: 8.1rem
  &-images-block 
    width: 40vw
    position: absolute
    top: 0
    right: 0
    & img 
      position: absolute
      &:first-child
        left: 0
        top: 0
      &:last-child
        top: 11rem
        left: -5.9rem

.features
  &-container
    display: grid
    justify-items: center
  &-list 
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    column-gap: 2rem


