.header
  padding: 5rem
  background-color: #172755
  background-image: url("../images/subtract-sm.png"), url("../images/subtract-l.png")
  background-repeat: no-repeat, no-repeat
  background-position: 0 0, right 0
  &-logo 
    display: flex
    justify-content: center
    align-items: center
  &-nav
    display: grid
    grid-template-columns: 18.4rem 1fr auto
    align-items: center
