@import url(./fonts.css);

/* Variables */
:root {
  /* text colors */
  --title-color: #ff9401;
  --subtitle-color: #2e2e2e;
  --text-color: #3f3232;
  --btn-color: #ffffff;
  --recipe-btn-color: #696969;
  --rating-and-cite-color: #818181;
  --footer-links-color: #6a5c5c;
  --copyrights-color: #685d5d;
  --reviews-job-title-color: #675959;

  /* bg-colors */
  --main-bg-color: #fffefc;
  --section-gradient: linear-gradient(
    180deg,
    rgba(255, 148, 1, 0.05) 0%,
    rgba(255, 237, 211, 0) 100%
  );
  --btn-bg: #ff9401;
  --service-img-bg: #fff5e4;
  --recipe-btn-bg: rgba(196, 196, 196, 0.26);
  --reviews-btn-disabled: #3a1212;
  --reviews-btn: #ff9401;

  /* effects */
  --drop-shadow-light: 0 20px 40px rgba(255, 148, 1, 0.2);
  --drop-shadow-deep: 0 40px 80px rgba(255, 148, 1, 0.15);
}

/* Global */
.page {
  height: 100%;
}

.page * {
  box-sizing: border-box;
}

.page-body {
  min-width: 1170px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: 'Circular Std', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 32px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.container {
  width: calc(1171px + 30px);
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section-title {
  font-family: Gilroy, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--title-color);
}

.section-subtitle {
  font-family: Gilroy, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 60px;
  color: var(--subtitle-color);
}

.section-text {
  font-weight: 450;
}

.btn {
  font: inherit;
  line-height: 30px;
  text-align: center;
  color: var(--btn-color);
  vertical-align: middle;
  background-color: var(--btn-bg);
  border: none;
  border-radius: 31px;
  box-shadow: var(--drop-shadow-light);
}

/* Sections background */
.about,
.popular,
.page-footer {
  background: var(--section-gradient);
}

/* Header */
.logo-text {
  font-family: 'Playfair Display', Times, serif;
  font-size: 22px;
  line-height: 30px;
  text-transform: lowercase;
  color: var(--subtitle-color);
}

.navigation {
  display: grid;
  grid-template-columns: 110px 1fr;
  padding-top: 46px;
  padding-bottom: 46px;
}

.header-menu {
  justify-self: end;
  list-style: none;
}

/* Hero section */
.hero {
  padding-top: 85px;
  padding-bottom: 115px;
}

.hero-container {
  display: grid;
  grid-template-rows: min-content auto auto min-content min-content;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  justify-items: start;
}

.hero-subtitle {
  margin: 0;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 96px;
  line-height: 108px;
}

.socials {
  padding: 0;
  list-style: none;
}

.socials-item {
  background-color: var(--btn-color);
  border-radius: 50%;
  box-shadow: var(--drop-shadow-light);
}

.socials-link {
  color: inherit;
}

/* About us */
.about {
  padding-top: 142px;
  padding-bottom: 140px;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 460px;
  grid-template-areas: 
  ". t"
  ". s"
  ". d"
  ". b";
  justify-items: start;
}

.about-title {
  grid-area: t;
}

.about-subtitle {
  grid-area: s;
}

.about-text {
  grid-area: d;
  padding-right: 10px;
}

.about-btn {
  grid-area: b;
}

/* Features */
.features {
  padding-top: 25px;
  padding-bottom: 117px;
}

.features-container {
  display: grid;
  justify-items: center;
}

.features-subtitle {
  font-size: 48px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-title {
  font-family: Gilroy, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--subtitle-color);
}

.feature-desc {
  font-size: 18px;
  line-height: 29px;
}

/* Popular */
.popular {
  padding-top: 87px;
  padding-bottom: 26px;
}

.popular-container {
  display: grid;
  justify-items: center;
}

.popular-subtitle {
  font-weight: 600;
  font-size: 48px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 54px;
}

.recipe {
  background-color: var(--btn-color);
  border-radius: 8px;
  box-shadow: var(--drop-shadow-deep);
}

.recipe-name {
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  color: var(--subtitle-color);
}

.recipe-img {
  background-color: var(--btn-color);
  border-radius: 8px;
}

.recipe-raiting {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  color: var(--rating-and-cite-color);
}

.recipe-btn {
  font-weight: 500;
  font-size: 10px;
  line-height: 60px;
  text-transform: uppercase;
  color: var(--recipe-btn-color);
  background-color: var(--recipe-btn-bg);
  border: none;
  border-radius: 15px;
}

.recipe-price {
  font-family: Gilroy, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: var(--btn-bg);
}

/* Order */
.order {
  padding-top: 101px;
  margin-bottom: 137px;
}

.order-container {
  display: grid;
  grid-template-columns: 1fr 460px;
  grid-template-areas: 
  ". t"
  ". s"
  ". d"
  ". b";
  justify-items: start;
}

.order-title {
  grid-area: t;
}

.order-subtitle {
  grid-area: s;
  font-size: 48px;
}

.order-text {
  grid-area: d;
  padding-left: 7px;
  font-weight: 500;
}

.order-apps-links-pic {
  grid-area: b;
}

/* Reviews */
.reviews {
  margin-bottom: 171px;
  padding-top: 53px;
  padding-bottom: 57px;
}

.reviews-container {
  display: grid;
  grid-template-columns: 180px 180px 1fr;
  grid-template-rows: min-content auto auto min-content;
  grid-template-areas: 
  "t t ."
  "s s ."
  "b b ."
  "c a .";
  justify-items: start;
}

.reviews-title {
  grid-area: t;
}

.reviews-subtitle {
  grid-area: s;
  font-size: 48px;
}

.testimonial {
  grid-area: b;
  margin: 0;
}

.testimonial-text {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
}

.testimonial-author {
  grid-area: c;
  font-family: Gilroy, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.testimonial-author-job-title {
  font-family: 'Circular Std', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 22px;
  color: var(--reviews-job-title-color);
}

.testimonial-controls {
  grid-area: a;
}

/* Footer */
.page-footer {
  padding-top: 85px;
  padding-bottom: 44px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr max-content max-content max-content max-content;
  column-gap: 105px;
}
/* contacts */
.contacts-email,
.contacts-website {
  font-weight: 450;
  font-size: 16px;
  line-height: 30px;
  color: var(--text-color);
}

.footer-section-title {
  font-family: Gilroy, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
}

.dishes-list,
.info-links,
.useful-links,
.footer-socials-links {
  list-style: none;
  text-transform: capitalize;
}

.dishes-link,
.info-link,
.useful-link {
  color: var(--footer-links-color);
  font-weight: 450;
  font-size: 16px;
  line-height: 30px;
}

.dishes-link {
  font-size: 18px;
}

.footer-socials-link {
  font-weight: 500;
  font-size: 16px;
  color: var(--subtitle-color);
  text-decoration: underline;
}

.footer-copyright {
  grid-column: 1 / -1;
  justify-self: center;
  font-weight: 450;
  font-size: 12px;
  line-height: 14px;
  color: var(--copyrights-color);
}
